---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardWorkExprience from "@components/cards/CardWorkExprience.astro";
import CardProject from "@components/cards/CardProject.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-3xl py-3 font-bold">About Me</div>
    <div class="py-2">
      <text class="text-lg">
        As an engineer, I am passionate about building systems that work
        effectively, no matter what form they take - be it devices, software, or
        even a company or group of friends. In my current role as CTO of
        Mersateb Co., a mid-size medical device manufacturing company, I am
        responsible for the overall technical direction and performance of our
        organization. A key aspect of my job is implementing and maintaining
        standards and management systems to ensure the smooth operation of our
        business. In my view, approaching everything in a systematic way is key
        to quickly and effectively learning, comprehending, and improving upon
        any system. My background in power electronics and experience in
        programming gives me a well-rounded understanding of both the technical
        and business aspects of our industry.
      </text>
    </div>
    <!-- <div class="mt-8">
      <a class="btn" href="mailto:mh.saadatfar@gmail.com" target="_blank">
        Let's connect!</a
      >
    </div> -->
  </div>

  <section class="mb-4">
    <h1 class="text-2xl w-full font-bold mb-2">Work Experience</h1>
    <CardWorkExprience
      name="Mersateb Co."
      date="Apr 2017 - Ongoing"
      position="CTO, Co-Founder"
      href="https://mersateb.com/"
    >
      Mersateb Co. was founded in 2015 with the goal of creating innovative
      dermatology treatments using radio frequency technology. The company's
      dedication to quality and innovation has helped it become one of the first
      producers of dermatology equipment in Iran in just a few short years. In
      addition to its core focus on dermatology, Mersateb Co. has also expanded
      its offerings to include other dermatology and gynecology products, making
      it a comprehensive provider of these medical services. With over 40
      employees and customers in countries across Europe, including Turkey and
      Spain, Mersateb Co. is dedicated to meeting the highest standards of
      safety and quality in all of its products.
      <ul class="list-disk ml-6 mt-3" style="list-style: disc;">
        <li>
          Design and Production of one medical device per year on average in the
          field of Dermatology and Gynecology
        </li>
        <li>Obtaining the ISO 13485 and Medical CE Certificate</li>
        <li>
          Over 1000 devices have been produced and sold. (The best-selling
          dermatology plasma device in Iran)
        </li>
        <li>Export to 3 European countries.</li>
        <li>Over 40 members of staff</li>
      </ul>
    </CardWorkExprience>
    <CardWorkExprience
      name="BMD Co. (BMD ULUSLARARASI MEDIKAL ŞIRKETI)"
      date="Sep 2019 - Ongoing"
      position="CTO, Co Founder"
      href="https://bmdmedikal.com.tr/"
    >
      BMD Co. is the branch of Mersateb Co. in Turkey.
    </CardWorkExprience>
  </section>

  <section class="mb-4">
    <h1 class="text-2xl w-full font-bold mb-2">Last Projects</h1>
    <CardProject
      title="Solatrix™ Fractional Thermo-mechanical Device"
      img="solatrix"
      date="2020-Now"
    >
      Solatrix is a fractional thermo-mechanical device that has a significant
      effect on the rejuvenation and removal of skin lesions by transferring
      direct heat to the skin. The high-temperature (400°C) titanium tip of the
      device transfers heat to the skin with extremely low invasion; and by
      stimulating collagen production, it causes rejuvenation and eliminates
      wrinkles. The heat can be controlled by the contact time of the tip with
      the skin and the penetration depth of the tip
    </CardProject>
    <CardProject
      title="Madame X™ Vaginal RF Device"
      img="madamex"
      url="https://mersateb.com/en/madamx"
      date="2019"
    >
      Solatrix is a fractional thermo-mechanical device that has a significant
      effect on the rejuvenation and removal of skin lesions by transferring
      direct heat to the skin. The high-temperature (400°C) titanium tip of the
      device transfers heat to the skin with extremely low invasion; and by
      stimulating collagen production, it causes rejuvenation and eliminates
      wrinkles. The heat can be controlled by the contact time of the tip with
      the skin and the penetration depth of the tip
    </CardProject>
    <CardProject
      title="Firebolt™ Plasma Device"
      img="firebolt"
      url="https://mersateb.com/en/madamx"
      date="2018"
    >
      The Firebolt plasma device transfers high-frequency plasma energy to the
      skin. This energy is used in various treatments such as blepharoplasty and
      the removal of moles, freckles, and wrinkles. The released energy
      generates a heating action on the skin surface that removes the old,
      damaged epidermis and dermis cells, thus triggering collagen creation. The
      exclusive features of the Firebolt plasma device are its high safety,
      various treatment indications, and its therapeutic performance without
      side effects.
    </CardProject>
    <CardProject
      title="Nettle™ Fractional RF Device"
      img="nettle"
      url="https://mersateb.com/en/nettle"
      date="2018"
    >
      The fractional RF technology applies high-frequency and
      minimally-intrusive radio waves to specific skin layers to produce heat,
      which stimulates fibroblasts and produces collagen and elastin.
      Ultimately, this process significantly contributes to skin rejuvenation.
      Fractional RF applies radio waves to the skin with fractional needles and
      can produce different effects in the skin’s lower layers without exposing
      the skin surface to heat; thus, significantly reducing treatment side
      effects.
    </CardProject>
    <CardProject
      title="Hurricane™ Carboxytherapy Device"
      img="hurricane"
      url="https://mersateb.com/en/hurricane"
      date="2019"
    >
      The device starts a series of interconnected reactions after controlled
      and continuous injections of CO2 and leads to some changes like
      vasodilation, an increase in blood flow, and an increase in body
      temperature. The blood flow increase leads to the oxygenation of the
      intended area which itself helps the metabolism increase, tissue
      rejuvenation, and detoxification and it finally causes rejuvenation and
      cellulitis decrease in the intended tissue.
    </CardProject>
  </section>
  <!--
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
