---
import { Image } from "@astrojs/image/components";
import SvgIcon from "./Svg-Icon.astro";
import Profile from "../assets/images/profile.jpg";
---

<div class="drawer-side border-r-2 border-gray-light">
  <label for="my-drawer" class="drawer-overlay bg-base-100"></label>
  <div class="menu p-4 overflow-y-auto w-[25rem] text-base-content bg-base-100">
    <div class="w-fit">
      <a href="/">
        <div
          class="avatar transition ease-in-out w-1/2 hover:scale-[102%] block m-auto mt-3 mb-6"
        >
          <div>
            <Image
              class="mask mask-circle"
              src={Profile}
              alt="M.H.Saadatfar Profile Picture"
              quality={100}
            />
          </div>
        </div>
      </a>
    </div>
    <h1 class="font-semibold text-2xl">Mohammad Hossein Saadatfar</h1>
    <div class="">Senior Embedded Software Developer and Power Electronics Engineer</div>
    <div class="mt-5 pb-8">
      <div>
        <SvgIcon icon="briefcase-solid" /> CTO, Co-Founder at
        <a href="https://mersateb.com" target="_blank" class="text-second">
          Mersateb Co.
        </a>
      </div>
      <!----- Hidden Egg! --->
      <!--<div>
        <SvgIcon icon="cake-candles" />
        9 July 1993 (Age 29)
      </div>-->
      <div>
       <SvgIcon icon="city" />
        Burnaby, Canada
      </div>
      <div>
        <SvgIcon icon="envelope-regular" />
        <a href="mailto:mh.saadatfar@gmail.com">mh.saadatfar@gmail.com</a>
      </div>
    </div>
    <div class="text-l font-bold text-second pb-5">
      <a
        href="https://cv.mhsaadatfar.dev/Resume-mhsaadatfar.pdf"
        target="_blank"
      >
        <SvgIcon icon="download" />
        Download My Resume
      </a>
    </div>
    <!-- <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/store/1">Store</a></li>
      <li><a href="/blog/1">Blog</a></li>
      <li><a href="/cv">CV</a></li>
      <li><a href="mailto:mh.saadatfar@gmail.com">Contact</a></li>
    </ul> -->
    <!-- <div class="grow"></div> -->
    <div class="social-icons px-4 my-2 flex self-center text-2xl">
      <a
        href="mailto:mh.saadatfar@gmail.com"
        target="_blank"
        class="mx-3"
        aria-label="Telegram"
      >
        <SvgIcon icon="envelope-regular" />
      </a>
      <a
        href="https://github.com/saadatfar"
        target="_blank"
        class="mx-3"
        aria-label="Github"
      >
        <SvgIcon icon="github" />
      </a>
      <a
      href="https://gitlab.mersateb.com/mh.saadatfar"
      target="_blank"
      class="mx-3"
      aria-label="Gitlab"
    >
      <SvgIcon icon="gitlab" />
    </a>
      <!-- <a href="https://twitter.com/mhsaadatfar" target="_blank" class="mx-3" aria-label="Twitter">
        <SvgIcon icon="twitter"/>
      </a> -->
      <a
        href="https://t.me/mhsaadatfar"
        target="_blank"
        class="mx-3"
        aria-label="Telegram"
      >
        <SvgIcon icon="telegram" />
      </a>
      <a
        href="https://www.linkedin.com/in/mhsaadatfar/"
        target="_blank"
        class="mx-3"
        aria-label="Linkedin"
      >
        <SvgIcon icon="linkedin" />
      </a>
      <!-- <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed">
        <SvgIcon icon="rss" />
      </a> -->
    </div>
  </div>
</div>
